<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>dxTabs - How to display a content based on the selected tab - AngularJS Approach</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/globalize.min.js"></script>
    <script type="text/javascript" src="js/dx.all.js"></script>

    <script type="text/javascript" src="data.js"></script>
    <script type="text/javascript" src="tasks.js"></script>

    <link rel="stylesheet" type="text/css" href="css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="css/dx.light.css" />

    <style>
        .tabContent {
            padding: 20px;
            height: 400px;
            margin: 20px;
            border: 1px solid;
        }
    </style>
    <script>

        var myApp = angular.module('myApp', ['dx']);
        myApp.controller("defaultCtrl", function ($scope) {

            $scope.tabs = [
                { text: 'Tab 0' },
                { text: 'Tab 1' },
                { text: 'Tab 2' }
            ];

            $scope.selectedTab = 0;

            $scope.tabSettings = {
                dataSource: $scope.tabs,
                bindingOptions: {
                    selectedIndex: 'selectedTab'
                }
            }
        });

    </script>

</head>

<body ng-controller="defaultCtrl">
    <div dx-tabs="tabSettings"></div>

    <div ng-if="selectedTab == 0">
        <div class="tabContent"> Content 0 </div>
    </div>
    <div ng-if="selectedTab == 1">
        <div class="tabContent"> Content 1 </div>
    </div>
     <div ng-if="selectedTab == 2">
        <div class="tabContent"> Content 2 </div>
    </div>

</body>
</html>
